.codeSamplesGrid {
    margin-bottom: 30px;
    width: 90%;
    margin: 0 auto;
}

.codeSamplesMessage {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}