.imageLink {
    position: relative;

    .image {
        width: 100%;

        &.hovered {
            opacity: 20%;
        }
    }

    .imageText {
        visibility: hidden;
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        // Offset the text by its own width/height
        transform: translate(-50%, -50%);
        text-align: center;

        &.hovered {
            visibility: visible;
        }
    }
}