.headerContainer {
    text-align: center;

    .header {
        font-family: var(--font-family-title);
        margin-top: 20px;
        font-size: 3.75rem;
    }
}

.headerButton {
    :global(.MuiButton-root) {
        height: 50px;
        margin: 0px 10px;
        padding: 10px 20px;
        font-family: var(--font-family-title);
        font-size: 25px;
        color: var(--primary-main);
    
        &:hover {
            color: var(--primary-contrast-text);
            background-color: var(--background-light);
        }

        &.selectedTab {
            color: var(--primary-contrast-text)
        }

        &.projectsSelected {
            background-color: var(--background-light);
            color: var(--primary-contrast-text)
        }
    }
}

.menuItem {
    :global(.MuiMenuItem-root) {
        background-color: var(--background-light);
        justify-content: center;
        font-family: var(--font-family-title);
        font-size: 25px;

        &:hover {
            background-color: var(--background-dark);
        }
    }
}