.footer {
    color: var(--primary-main);
    margin: 20px 0px;
    display: flex;
    justify-content: flex-end;

    .footerText {
        margin-right: 30px;
        margin-top: 5px;
        font-family: var(--font-family-title);
        letter-spacing: 1;
        font-size: 1.5rem;
    }

    .footerIcons {
        margin-right: 20px;

        :hover {
            color: var(--primary-contrast-text);
        }
    }
}