.footer {
    color: var(--primary-main);
    margin: 20px 0px;
    padding: 20px;
    display: flex;
    column-gap: 50px;
    justify-content: center;
    flex-wrap: wrap;

    .footerText {
        margin-top: 5px;
        font-family: var(--font-family-title);
        letter-spacing: 1;
        font-size: 1.5rem;
    }

    .icons {
        display: flex;
        column-gap: 20px;
    }

    .footerIcons {
        :hover {
            color: var(--primary-contrast-text);
        }
    }
}