.jobTabs {
    :global(.MuiTabs-indicator) {
        left: 0;
        background-color: var(--secondary-main);
    }

    .jobTab {
        &:global(.MuiTab-root) {
            color: var(--primary-contrast-text);
            font-weight: 100;
            border-left: 2px solid var(--secondary-dark);
        }

        &:global(.Mui-selected) {
            font-weight: 400;
        }
    }
}
