.panelContainer {
    width: 80%;
    line-height: 1.5;
    margin-left: 20px;
}

.firstDescription {
    margin-top: 20px;
}

.jobPosition {
    font-weight: 500;
    font-size: 1.25rem;
}

.jobTime {
    font-weight: 100;
}
