.codingLanguages {
    display: grid;
    grid-template-columns: repeat(3, minmax(140px, 200px));
    column-gap: 30px;
    list-style: none;
    color: white;
    padding: 0;
}

.descriptionContainer{
    display: flex;
    margin-top: 20px;

    .descriptionText {
        color: white;
        margin-right: 40px;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

}

.imageWrapper {
    position: relative;
    width: 80%;
    margin-bottom: 20px;

    .headshot {
        display: block;
        width: 100%;
        border-radius: 5px;
        transition: transform 0.3s ease;
    }

    .headshot:hover {
        transform: translate(-5px, -5px);
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 0px 4px #6E5959;
        transform: translate(15px, 15px);
        transition: transform 0.3s ease;
        border-radius: 2px;
        z-index: -1;
    }

    &:hover::before {
        transform: translate(20px, 20px);
    }
}