.codingLanguages {
    display: grid;
    grid-template-columns: repeat(3, minmax(140px, 200px));
    column-gap: 30px;
}

.title {
    font-family: var(--font-family-title);
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.descriptionContainer{
    display: flex;
    margin-top: 20px;

    .descriptionText {
        margin-right: 40px;
        margin-bottom: 30px;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.imageWrapper {
    position: relative;
    margin-bottom: 30px;
    width: 80%;
    height: 100%;
    z-index: 0;

    .headshot {
        width: 100%;
        border-radius: 5px;
        transition: transform 0.3s ease;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 0px 4px var(--secondary-dark);
        transform: translate(15px, 15px);
        transition: transform 0.3s ease;
        border-radius: 2px;
        z-index: -1;
    }

    &:hover {
        &::before {
            transform: translate(20px, 20px);
        }
        .headshot {
            transform: translate(-5px, -5px);
        }
    }
}